# Show statistics for FlipJump files (as Assembly files, until FlipJump is Supported in linguist/lib/linguist/languages.yml).
*.fj linguist-language=Assembly linguist-detectable=true

# Keep the .fj and .fj files byte-exact (e.g. keep \n line endings).
*.b -text
*.bf -text
*.fj -text
programs/**/input -text
programs/**/output -text
